@media (max-width: 640px){
    ::-webkit-scrollbar{display: none;}
}
html,body{
    margin: 0;padding: 0; overflow: hidden; height: 100%;
}
#container{
    height: 100%;width: 100%; position: relative; 
    section{
        position: absolute;padding: 0;top: 0;left: 0;height: 100%;width: 100%;
    }
}

.easing-ease{
    section{
        transition: all .3s ease 0s;
    }
}

@import "layout.less";